html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

li {
  list-style-type: none;
}

nav {
  background: rgba(30, 30, 30, 0.9);
  color: #b2bfbd;
  width: 100%;
  position: fixed;
  letter-spacing: 0.3vw;
}

nav li {
  font-size: 0.8vw;
  text-transform: uppercase;
  text-align: center;
  padding: 2vw 0;
}

nav li:hover {
  color: white;
  cursor: pointer;
}

nav .flex {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

nav .flex h4 {
  flex-grow: 4;
  font-family: Montserrat;
  font-weight: normal;
  margin: 0;
  padding-left: 2vw;
}

nav ul {
  padding-right: 2vw;
}

.search {
  font-size: 1.5vw;
}

.dropdown {
  position: fixed;
  top: 5.7vw;
  right: 4.4vw;
  background: #edfffc;
  color: #1e1e1e;
}

.dropdown li {
  text-align: left;
  width: 100%;
  padding: 1vw;
}

.dropdown li:hover {
  background: #6b6b6b;
}

section {
  height: 60vw;
}

section > img {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow-x: hidden;
}

section > img:nth-of-type(1) {
  left: 0;
}

section > img:nth-of-type(2) {
  left: 100%;
}

section > img:nth-of-type(3) {
  left: 200%;
}

.forward, .back {
  position: absolute;
  top: 30vw;
  font-size: 3vw;
  color: white;
}

.forward {
  right: 10%;
}

.back {
  left: 10%;
}

.card-flex {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 2vw;
  align-items: center;
}

.card-img {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

.card-img:hover {
  box-shadow: 0 0 13px 10px rgba(120, 120, 120, 0.3);
  cursor: pointer;
  transition: border 1s linear;
}

.headline {
  letter-spacing: 0.5vw;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
  padding-top: 6vw;
}

.text {
  font-size: 1vw;
  color: #787878;
  margin: 2vw 5vw;
  text-align: center;
  line-height: 2vw;
}

.card-text {
  font-size: 1vw;
  color: #787878;
  margin: 2vw 5vw;
  text-align: center;
  line-height: 2vw;
  opacity: 0;
}

.subline {
  font-size: 1.5vw;
  font-style: oblique;
  margin-bottom: 1vw;
  color: #787878;
  text-align: center;
  line-height: 2.5vw;
}

.active {
  opacity: 1;
}

.dark {
  background: #1e1e1e;
  color: #b2bfbd;
}

.months {
  background: white;
  color: grey;
  margin: 0 20vw;
}

.months div {
  border: 0.4px solid lightgrey;
  padding: 1vw;
}

.months div span {
  background: red;
  color: white;
  border-radius: 2px;
}

.months div .counter {
  background: grey;
  color: white;
  border-radius: 1vw;
  padding: 0.3vw 0.7vw;
  margin-left: 47vw;
}
